<div class="card">
  <div class="card-header">
    Trips List
  </div>
  <div class="card-body">

      <div class="row">
          <div class="card align-items-center" style="width:400px; margin: 5px"
          *ngFor='let product of data '>
          <img class="card-img-top center"
          [src]='product.pictureUrl' [title]='product.destination'
          [style.width.px]='"200"' [style.height.px]='"200"'
          [style.margin.px]='5'>
          <div class="card-body text-center">
          <h4 class="card-title">{{ product.destination }}</h4>


          <h2 class="card-text">{{ product.price |
              currency:'EUR':'symbol':'1.2-2'}}</h2>
              <a class="btn btn-primary" [routerLink]="['/details', product.id]" routeLinkActine="router-link-active"></a>
              </div>
              </div>
              </div>

    <h4 class="card-title">Title</h4>
    <p class="card-text">Text</p>
  </div>
  <div class="card-footer text-muted">
    Footer
  </div>
</div>
